*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grill{
  width: 600px;
  height: 600px;
}

.grill > .items{
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid black;
}
